*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

 html, body {
      margin: 0;
    }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

html.js .loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
html.js .loader_inner {
	background-image: url("../img/preloader.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute;
}

body {
	font-family: sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: "RobotoRegular", sans-serif;
	overflow-x: hidden;
}
.hidden {
	display: none;
}





/* header */

header {
	height: 700px;
	background-color: rgba(0, 0, 0, 0.3);
}

.header_name {
	position: absolute;
    top: 233px;
    left: 27%;
    color: white;
}

.header_name h1{
     font-size: 50px;
    font-family: Caprice;
}

.header_name span {
	float: right;
	font-family: Caprice;
    font-size: 17px;
}


@media (max-width: 770px) {
		.header_name span {
		float: none;
	}

	
	   
}

@media (max-width: 667px) {
	header {
		 background-color: #000;
		 background: url(../video/tattoopro.jpg);
	}

	.navbar-inverse {
    background-color: #222 !important;
    border-color: #080808 !important;
	}
}

 @media (min-width: 667px) { 

	.affix {
		padding: 16px;
	}
	.navbar-inverse {
		padding: 16px;	
	}

}
 

/* galary */
.stopfade { 
   opacity: .5;
}

#polina { 
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight:100; 
  background: rgba(0,0,0,0.3);
  color: white;
  padding: 2rem;
  width: 33%;
  margin:2rem;
  float: right;
  font-size: 1.2rem;
}
h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: .3rem;
}
#polina button { 
  display: block;
  width: 80%;
  padding: .4rem;
  border: none; 
  margin: 1rem auto; 
  font-size: 1.3rem;
  background: rgba(255,255,255,0.23);
  color: #fff;
  border-radius: 3px; 
  cursor: pointer;
  transition: .3s background;
}
#polina button:hover { 
   background: rgba(0,0,0,0.5);
}

a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
 
  padding: .5rem;
  transition: .6s background; 
}
a:hover{
  background:rgba(0,0,0,0.9);
}

@media screen and (max-device-width: 800px) {
  html { background: url(//demosthenes.info/assets/images/polina.jpg) #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}


/* parallax */
@media screen and (max-width: 900px) { 

	.crt-parallaxvideo video {
		height: 671px;
	}

}

.crt-parallaxvideo video {
	z-index: -100;
	opacity: 0.8;
}

/* top bar */
#navbar-main {
	z-index: 1000;
}

#navbar-main.affixed-top {
 background: black;
}
#navbar-main.affix {
 
    top: 0;
    left: 0;
    right: 0;
}
#navbar-main.affix-bottom {
	background: red; 
}
 





/* srction */
 section {
background-color: #fff;
z-index: 100;
} 

.navbar {
	margin-bottom: 0px !important;
}

.navbar-inverse.affix-top {
	background-color: rgba(34, 34, 34, 0);
    border-color: rgba(34, 34, 34, 0);
        background-color: rgba(0, 0, 0, 0.3);
}

.navbar-inverse .navbar-nav > li > a {
	color: #fff;
}


 @media (max-width: 667px) { 

	.navbar-nav {
		height: 600px;
	}

}

/* аanimat */

.navbar-toggle {
  border: none;
  background: transparent !important;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  width: 22px;
  transition: all 0.2s;
}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}
