*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

 html, body {
      margin: 0;
    }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

html.js .loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
html.js .loader_inner {
	background-image: url("../img/preloader.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute;
}

body {
	font-family: sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: "RobotoRegular", sans-serif;
	overflow-x: hidden;
}
.hidden {
	display: none;
}





/* header */

header {
	height: 700px;
	background-color: rgba(0, 0, 0, 0.3);
}

.header_name {
	position: absolute;
    top: 151px;
    left: 40%;
    color: white;
}

.header_name h1{
     font-size: 50px;
    font-family: Caprice;
}

.header_name span {
	
	font-family: Caprice;
    font-size: 17px;
}


@media (max-width: 770px) {
		.header_name span {
		float: none;
	}

	
	   
}

@media (max-width: 667px) {
	header {
		 background-color: #000;
		 background: url(../video/tattoopro.jpg);
	}

	.navbar-inverse {
    background-color: #222 !important;
    border-color: #080808 !important;
	}
}

 @media (min-width: 667px) { 

	.affix {
		padding: 16px;
	}
	.navbar-inverse {
		padding: 16px;	
	}

}
 

/* galary */
.stopfade { 
   opacity: .5;
}

#polina { 
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight:100; 
  background: rgba(0,0,0,0.3);
  color: white;
  padding: 2rem;
  width: 33%;
  margin:2rem;
  float: right;
  font-size: 1.2rem;
}
h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: .3rem;
}
#polina button { 
  display: block;
  width: 80%;
  padding: .4rem;
  border: none; 
  margin: 1rem auto; 
  font-size: 1.3rem;
  background: rgba(255,255,255,0.23);
  color: #fff;
  border-radius: 3px; 
  cursor: pointer;
  transition: .3s background;
}
#polina button:hover { 
   background: rgba(0,0,0,0.5);
}

a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
 
  padding: .5rem;
  transition: .6s background; 
}
a:hover{
  background:rgba(0,0,0,0.9);
}

@media screen and (max-device-width: 800px) {
  html { background: url(//demosthenes.info/assets/images/polina.jpg) #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}


/* parallax */
@media screen and (max-width: 900px) { 

	.crt-parallaxvideo video {
		height: 671px;
	}

}

.crt-parallaxvideo video {
	z-index: -100;
	opacity: 0.8;
}

/* top bar */
#navbar-main {
	z-index: 1000;
}

#navbar-main.affixed-top {
 background: black;
}
#navbar-main.affix {
 
    top: 0;
    left: 0;
    right: 0;
}
#navbar-main.affix-bottom {
	background: red; 
}
 





/* srction */
 section {
    background-color: #1c1c1c;
z-index: 100;
} 

.navbar {
	margin-bottom: 0px !important;
}

.navbar-inverse.affix-top {
	background-color: rgba(34, 34, 34, 0);
    border-color: rgba(34, 34, 34, 0);
        background-color: rgba(0, 0, 0, 0.3);
}

.navbar-inverse .navbar-nav > li > a {
	color: #fff;
}


 @media (max-width: 667px) { 

	.navbar-nav {
		height: 600px;
	}

}

/* аanimat */

.navbar-toggle {
  border: none;
  background: transparent !important;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  width: 22px;
  transition: all 0.2s;
}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}


/* logo */
.logo {
	width: 400px;
	height: 400px;
	background: url(../img/logo.png);
	background-repeat: no-repeat;
	position: absolute;
    top: 66px;
}
.navbar-inverse .navbar-nav > li > a:hover {
	color: #f2f2f2  !important;
}


/* section */

.titleWork {
	 font-family: Caprice;
    font-size: 22px;
    color: #fff;
    text-align: center;
        margin-top: 91px;
    margin-bottom: 23px;
}
  
/* section adress */

.bg_light {
    background-color: #FAFAFA;
}


section, .main_head {
    position: relative;
}

section h2 {
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    margin: 0 0 15px;
    letter-spacing: 1px;
    color: #fff;

}


.s_descr_wrap {
    text-align: center;
}


.s_descr_wrap .s_descr {
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    position: relative;
    margin-bottom: 130px;
    font-weight: 600;
}
.s_descr {
    letter-spacing: 4px;
}


.s_descr_wrap .s_descr::after {
    content: "";
    height: 1px;
    left: 50%;
    margin-left: -75px;
    margin-top: 60px;
    position: absolute;
    width: 150px;
}

.s_descr::after {
    background-color: #222;
}


.contact_box {
    margin-bottom: 30px;
}


.contact_box .contacts_icon {
    font-size: 30px;
}

.contacts_icon {
    color: #8238A7;
}


.contact_box h3 {
    text-align: left;
    color: #000;
    margin-bottom: 0px;
    font-size: 14px;
}

section h3 {
    letter-spacing: 3px;
    color: #888;
}
section h3, .main_head h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 35px;
}


.contact_box p {
    margin-top: 5px;
}
p, body .main_footer, .s_about li {
    color: #888;
}

.form-group input, .form-group textarea {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    margin-top: 5px;
    line-height: 40px;
    text-indent: 12px;
    font-size: 12px;
    background-color: transparent;
}
form input, form textarea {
    letter-spacing: 2px;
}


.form-group .color_element {
    font-weight: 700;
    font-size: 18px;
}
.color_element {
    color: #8238A7;
}

form .form-group {
    letter-spacing: 2px;
    color: #888;
}

.form-group {
    display: block;
    margin-bottom: 20px;
}

.main_form button {
    border: none;
    color: #fff;
    line-height: 40px;
    padding: 0 25px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 10px;
    float: right;
}
form button {
    background-color: #8238A7;
    letter-spacing: 2px;
}

section {
    padding: 70px 0 90px;
}

/* footer */

p, body .main_footer, .s_about li {
    color: #888;
}
.bg_dark {
    background-color: #222;
    color: #fff;
}
.main_footer {
    padding: 50px 0;
    font-size: 13px;
    font-weight: 300;
}

.main_footer .social_wrap {
    float: right;
    line-height: 0;
}

.main_footer .social_wrap ul {
    margin: 0;
}

.social_wrap li {
    display: inline-block;
    font-size: 20px;
    padding: 0 3px;
}

.main_footer a {
    color: #8238A7;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}