/* respons gread  */

#main {
  overflow: hidden;
  background: #18191a;
  width: 100%;
}

/* Десктоп с большими разрешениями, телевизоры. */
@media only screen and (min-width: 1382px) {

  .colom_left {
    width: 50% !important;
    max-width:1000px;
    float: left;
    font-size: 20px !important;
    padding-left: 160px !important;
    padding-right: 160px !important;
    padding-top: 210px !important;
    color: #fff;
    
  }


  .colom_left p{
    font-size: 20px !important;
    padding-left: 160px !important;
    padding-right: 160px !important;
    padding-top: 210px !important;
    color: #fff;
  }



  .colom_right {
    width: 50% !important;
    max-width:1000px;
    height: auto;
    float: right;
  }


  .colom_right img {
      width: 100%;
      height: auto;
      
  }

}

/* Планшеты в режиме landscape, нетбуки, ноутбуки, десктоп. */
@media only screen and (min-width: 992px) {


.colom_left {
    width: 50% !important;
    max-width:1000px;
    float: left;
   
    color: #fff;
   
  }


  .colom_left p{
    font-size: 20px !important;
    padding-left: 160px !important;
    padding-right: 160px !important;
    padding-top: 210px !important;
    color: #fff;
  }



  .colom_right {
    width: 50% !important;
    max-width:1000px;
    height: auto;
    float: right;
  }


  .colom_right img {
      width: 100%;
      height: auto;
      
  }
}



/* Планшеты в режиме portrait. */

@media only screen and (min-width: 768px) {



}


/* Здесь стили для мобильных устройств. Android, iPhone  и так далее. */

@media only screen and (min-width: 480px) { 

 .colom_left {
    width: 100%;
    max-width:1000px;

    font-size: 19px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 90px;
    padding-bottom: 90px;
    color: #fff;
    background: #18191a;
  }
  .colom_right {
    width: 100%;
    max-width:1000px;
    height: auto;
  }


  .colom_right img {
      width: 100%;
      height: auto;
      
  }

  .colom_left p{
    font-size: 19px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 190px;
    padding-bottom: 190px;
    color: #fff;
  }


}

@media (min-width: 990px) {
  .colom_left {
    padding-bottom: 0px;
  }
}


.colom_left .fa {
    margin: 0 8px;
    color: #fff;
    font-size: 18px;
}

.colom_left .fa:hover {
    color: #c74735;
    background-color: rgba(0,0,0,0);
    text-decoration: none;
}